<style>

  body {
    background-color: #C6C9CC;
    color: #4d4d4d;
  }

  .container {
    width: 1036px;
  }
  .wrap {
    width: 100%;
    height: 170px;
    position: fixed;
    top: 0px;
    left: 0px;
    border: 2px;
    background-color: #929599;
    boirder-color: #592059;
  }

  .logomain {
    margin: 112px 204px 0px 342px;
    border-color: black;
  }

  .logo{
    margin: 0px 0px 0px -120px;
    float: left;
    width: 50px;
  }

  #mainNav li {
    color: rgba(255, 255, 255, 1);
  	background-color: rgba(142, 213, 87, 0.6);
    list-style: none;
    height: 11px;
    margin: 10px;
    padding: 11px;
    display: inline;
    float:right;
    width: 100px;
    text-align: center;
    border-left: 2px solid #1f5065;
    border-right: 2px solid #1f5065;
    border-top: 2px solid #74a3b7;
    border-bottom: 2px solid #1f5065;
  }

  #About {
    background-color: #aaa;
    padding: 180px 60px 150px 60px;
    margin: 172px 300px 0px 200px;

  }

  .text {
    width: 685px;
    height: 450px;
    color: white;
    float: left;
  }

  .clear {
    clear: both;
  }

   .the-boys{
    border-radius: 53%;
    float: right;
  }

  .middle-section {
    background-color: #aaa;
    padding: 180px 60px 150px 60px;
    margin: 2px 300px 0px 200px;
  }

  .leftside {
    display: inline-block;
    float: left;
    width: 25%;
    padding: -53px 0px 0px 200px;

  }

  .right-side {
    display: inline-block;
    float: right;
    width: 48%;

  }

  .canvas-section {
    background-color: ;
    margin: 80px auto;
    width: 1100px;
  }

  .clear-middle-section {
    clear:both;
  }

  .bottom-canvas {
    padding: 100px 17px 16px 50px;
    margin: -80px 200px 0px 130px;
    width: 700px;
    height: 500px;

  }

  #Contact_Me {
    background-color: #aaa;
    padding: 180px 60px 150px 60px;
    margin: 2px 300px 0px 200px;
  }

	#mc_embed_signup{
    background-color: #aaa;
    padding: 201px 60px 220px 120px;
    margin: 2px 212px 0px 199px;
    clear:left;
    font:14px Helvetica,Arial,sans-serif;
   }

  h1 {
    text-align: center;
  }

  #footer-container {
     width: 100%;
     height: 170px;
     padding:
    margin-top: 0px/
    color: black;
    text-align: center;
    background-color:#aaa;
  }

  .footer-top{
    background-color: #aaa;
    height: 300px;
    width: 100%;
    text-align: center;
    margin: 2px 0px 0px 0px;
    color: green;
  }

  .footer-bottom{
    background-color: #FFEADD;
    text-align:center;
    padding: 25px 0;
    /*height: 75px;*/
    width: 100%;
  }

  .footerleft_div {
    float:left;
    width: 250px;
    margin: 0px 200px 0px 200px;
  }

  .media-icon {
  background: url(Socimedia32pixel-icons-2.png);
  width:25px;
  height:25px;
  display:inline-block;
}

 .facebook {
   background-position:  0 0;
}
  .footer_rightdiv {
    float:right;
    width: 197px;
    margin: 105px 168px 0px 200px;
  }

  .right-circle {
    width:100px;
    height:100px;
    border-radius:50px;
    font-size:20px;
    line-height:100px;
    text-align:center;
    background:#000;
  }

  .left-circle {
    width:100px;
    height:100px;
    border-radius:50px;
    font-size:20px;
    line-height:100px;
    text-align:center;
    background:#00FFFF;

  }

  li:hover {
    background-color: white;
  }

  .clear-left-rigth-section {
    clear: both;
  }

  .clear-top-section {
    clear: both;
  }

  .clear-ff {
    clear: both;
  }

  .clear-theForm {
    clear: both;
  }

  .clear-headersection {
    clear:both;
  }

</style>
